

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar a {
    color: #D4A59A;
}

.navbar a:hover {
    color: black;
}

.navbar > li > a :hover {
    background-color: #F3E0DC;
}
@keyframes animatie {
    0% {
        box-shadow: 0 0 0 0px #8860d033;
    }

    20% {
        box-shadow: 0 0 0 10px #8860d033;
    }

    40% {
        box-shadow: 0 0 0 10px #8860d033, 0 0 0 20px #8860d033
    }

    60% {
        box-shadow: 0 0 0 5px #8860d033, 0 0 0 25px #8860d033, 0 0 0 15px #8860d033;
    }

    80% {
        box-shadow: 0 0 0 0px #8860d033, 0 0 0 20px #8860d033, 0 0 0 30px #8860d033, 0 0 0 40px #8860d033;
    }

    100% {
        box-shadow: 0 0 0 10px #8860d033, 0 0 0 20px #8860d033, 0 0 0 30px #8860d033, 0 0 0 45px #8860d033, 0 0 0 60px #8860d033;
    }
}

.center_div {
    margin: 0 auto;
    width: 80%; /* value of your choice which suits your alignment */
    align-content: center;
    
}

<<<<<<< Updated upstream
.box{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}

.item1
{
    grid-column:2/4;
    grid-row:1/2;
}

.item2{
    grid-column:2/4;
    grid-row:2/4;
}

.item3{
    grid-column:4/5;
    grid-row:2/3;
}
=======
>>>>>>> Stashed changes
